*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-image: url(./imagenes/fondo3.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
    
    
    

.uno {
    font-size: 4rem;
    display: flex;
    justify-content: end;
    padding-right: 22rem ;
    padding-top: 2rem;
    font-size: 7rem;
    color: white;

}
.dos {
    font-size: 4rem;
    display: flex;
    justify-content: end;
    padding-right: 21rem ;
    font-size: 5rem;
    color: rgb(128, 250, 103);

}


.cuatro {
    display: flex;
    justify-content: flex-end;
    padding-right: 26rem;
}

.cuatro img{
    width: 150px;

}

.cinco{
    color: white;
    display: flex;
    justify-content: end;
    padding-right: 20rem;
    align-items: center;
}

.cinco .semana{
    font-size: 30px ;
    
}

.cinco .dia{
    font-size: 51px;
    padding-right: 2rem;
    
    
    
    
}
.cinco .hora{
    border-left: 3px solid #f8f5f5;
    padding-left: 2rem;
    font-size: 30px;
    
    
}

.seis{
    display: flex;
    justify-content: end;
    padding-right: 22rem;
    font-size: 3rem;
    color: white;
}

.siete{
    display: flex;
    justify-content: end;
    padding-right: 21em;
    color: white;

}

.siete p{
    font-size: 2rem;
}

.siete a{
    text-decoration: none;
    color: green;
    display: flex;
    align-items: center;
    padding: 15px;

}

.siete a:hover{
    color: rgb(53, 250, 86);
}

@media screen and (max-width: 1050px){
    *{
       
        background-image: url(./imagenes/fondo4.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    .uno {
        font-size: 1rem;
        display: flex;
        justify-content: end;
        padding-right: 7rem ;
        padding-top: 9rem;
        font-size: 3rem;
        font-weight: 900;
        color: white;
    
    }
    .dos {
        font-size: 2rem;
        display: flex;
        padding-right: 7rem ;
        color: white;
        font-weight: 900;
        align-items: center;
    
    }
    .dos .four{
        font-size: 3rem;
        padding-left: 1rem;
        color: white;
        font-weight: bold;
    }
    
    
    .cuatro {
        display: flex;
        justify-content: flex-end;
        padding-right: 8rem;
    }
    
    .cuatro img{
        width: 100px;
    
    }
    
    .cinco{
        color: white;
        display: flex;
        justify-content: end;
        padding-right: 4rem;
        align-items: center;
    }
    
    .cinco .semana{
        font-size: 22px ;
        
    }
    
    .cinco .dia{
        font-size: 30px;
        padding-right: 1rem;
        
        
        
        
    }
    .cinco .hora{
        border-left: 3px solid #f8f5f5;
        padding-left: 1rem;
        font-size: 20px;
        
        
    }
    
    .seis{
        display: flex;
        justify-content: end;
        padding-right: 5rem;
        font-size: 2rem;
        color: white;
    }
    
    .siete{
        display: flex;
        justify-content: end;
        padding-right: 5rem;
        color: white;
    
    }
    
    .siete p{
        font-size: 1rem;
    }
    
    .siete a{
        text-decoration: none;
        color: green;
        display: flex;
        align-items: center;
        padding: 15px;
    
    }
    
    .siete a:hover{
        color: rgb(75, 37, 243);
    }
}